-- =====================================================
-- KOPQELA SALES & CREDIT MANAGEMENT SYSTEM
-- PostgreSQL Database Schema
-- =====================================================

-- Enable UUID extension
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- Enable crypto extension for password hashing
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- =====================================================
-- ENUMS & CUSTOM TYPES
-- =====================================================

-- User roles
CREATE TYPE user_role AS ENUM ('admin', 'manager', 'cashier', 'customer');

-- Authentication methods
CREATE TYPE auth_method AS ENUM ('google', 'email');

-- Business types
CREATE TYPE business_type AS ENUM ('retail', 'wholesale', 'online', 'service', 'restaurant', 'pharmacy', 'electronics', 'fashion', 'grocery', 'other');

-- Business status
CREATE TYPE business_status AS ENUM ('pending', 'approved', 'active', 'suspended', 'rejected');

-- Product types
CREATE TYPE product_type AS ENUM ('wholesale', 'retail', 'both');

-- Product status
CREATE TYPE product_status AS ENUM ('draft', 'active', 'inactive', 'out_of_stock');

-- Order status
CREATE TYPE order_status AS ENUM ('pending', 'confirmed', 'processing', 'shipped', 'delivered', 'cancelled', 'refunded');

-- Payment status
CREATE TYPE payment_status AS ENUM ('pending', 'completed', 'failed', 'cancelled', 'refunded');

-- Payment methods
CREATE TYPE payment_method AS ENUM ('cash', 'card', 'mobile_money', 'bank_transfer', 'credit', 'partial');

-- Credit application status
CREATE TYPE credit_status AS ENUM ('pending', 'under_review', 'approved', 'rejected', 'active', 'completed', 'defaulted');

-- Customer types for credit
CREATE TYPE customer_type AS ENUM ('individual', 'business');

-- Employment types
CREATE TYPE employment_type AS ENUM ('employed', 'self_employed', 'business_owner', 'unemployed', 'retired', 'student');

-- Notification types
CREATE TYPE notification_type AS ENUM ('order', 'payment', 'credit', 'inventory', 'system', 'marketing');

-- File types
CREATE TYPE file_type AS ENUM ('image', 'document', 'receipt', 'report', 'backup');

-- =====================================================
-- 1. AUTHENTICATION & USER MANAGEMENT
-- =====================================================

-- Users table (main authentication)
CREATE TABLE users (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    email VARCHAR(255) UNIQUE NOT NULL,
    password_hash VARCHAR(255), -- NULL for Google OAuth users
    google_id VARCHAR(255) UNIQUE, -- NULL for email users
    full_name VARCHAR(255) NOT NULL,
    phone VARCHAR(20),
    avatar_url TEXT,
    auth_method auth_method NOT NULL DEFAULT 'email',
    email_verified BOOLEAN DEFAULT FALSE,
    email_verification_token VARCHAR(6),
    email_verification_expires TIMESTAMP,
    password_reset_token VARCHAR(255),
    password_reset_expires TIMESTAMP,
    last_login TIMESTAMP,
    login_attempts INTEGER DEFAULT 0,
    locked_until TIMESTAMP,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- User sessions (for JWT token management)
CREATE TABLE user_sessions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    token_hash VARCHAR(255) NOT NULL,
    device_info JSONB,
    ip_address INET,
    expires_at TIMESTAMP NOT NULL,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- User preferences
CREATE TABLE user_preferences (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    language VARCHAR(5) DEFAULT 'en',
    currency VARCHAR(3) DEFAULT 'TZS',
    timezone VARCHAR(50) DEFAULT 'Africa/Dar_es_Salaam',
    notifications JSONB DEFAULT '{}',
    theme JSONB DEFAULT '{}',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- =====================================================
-- 2. MULTI-STORE BUSINESS MANAGEMENT
-- =====================================================

-- Businesses table (multi-tenant support)
CREATE TABLE businesses (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name VARCHAR(255) NOT NULL,
    slug VARCHAR(100) UNIQUE NOT NULL,
    description TEXT,
    business_type business_type NOT NULL,
    registration_number VARCHAR(100),
    tax_number VARCHAR(100),
    phone VARCHAR(20),
    email VARCHAR(255),
    website VARCHAR(255),
    address TEXT,
    city VARCHAR(100),
    region VARCHAR(100),
    country VARCHAR(100) DEFAULT 'Tanzania',
    postal_code VARCHAR(10),
    status business_status DEFAULT 'pending',
    owner_id UUID NOT NULL REFERENCES users(id),
    primary_color VARCHAR(7) DEFAULT '#0F766E',
    secondary_color VARCHAR(7) DEFAULT '#14B8A6',
    logo_url TEXT,
    banner_url TEXT,
    business_hours JSONB,
    social_media JSONB,
    settings JSONB DEFAULT '{}',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    approved_at TIMESTAMP,
    approved_by UUID REFERENCES users(id)
);

-- Business users (role assignments per business)
CREATE TABLE business_users (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    role user_role NOT NULL,
    permissions JSONB DEFAULT '{}',
    invited_by UUID REFERENCES users(id),
    invited_at TIMESTAMP,
    joined_at TIMESTAMP,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(business_id, user_id)
);

-- Business settings
CREATE TABLE business_settings (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    currency VARCHAR(3) DEFAULT 'TZS',
    tax_rate DECIMAL(5,2) DEFAULT 0.00,
    invoice_prefix VARCHAR(10) DEFAULT 'INV',
    receipt_prefix VARCHAR(10) DEFAULT 'RCP',
    order_prefix VARCHAR(10) DEFAULT 'ORD',
    low_stock_threshold INTEGER DEFAULT 10,
    credit_limit_default DECIMAL(15,2) DEFAULT 0.00,
    credit_duration_default INTEGER DEFAULT 30, -- days
    auto_approve_credit BOOLEAN DEFAULT FALSE,
    email_notifications BOOLEAN DEFAULT TRUE,
    sms_notifications BOOLEAN DEFAULT TRUE,
    backup_frequency VARCHAR(20) DEFAULT 'daily',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
-- =====================================================
-- 3. PRODUCT & INVENTORY MANAGEMENT
-- =====================================================

-- Product categories
CREATE TABLE product_categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    name VARCHAR(255) NOT NULL,
    name_sw VARCHAR(255), -- Swahili translation
    description TEXT,
    description_sw TEXT,
    parent_id UUID REFERENCES product_categories(id),
    sort_order INTEGER DEFAULT 0,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Products
CREATE TABLE products (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    category_id UUID REFERENCES product_categories(id),
    sku VARCHAR(100),
    barcode VARCHAR(100),
    name VARCHAR(255) NOT NULL,
    name_sw VARCHAR(255), -- Swahili translation
    description TEXT,
    description_sw TEXT,
    specifications JSONB,
    product_type product_type DEFAULT 'retail',
    status product_status DEFAULT 'draft',
    wholesale_price DECIMAL(15,2),
    retail_price DECIMAL(15,2) NOT NULL,
    cost_price DECIMAL(15,2),
    compare_at_price DECIMAL(15,2), -- Original price for discounts
    weight DECIMAL(8,2), -- in kg
    dimensions JSONB, -- {length, width, height}
    tags TEXT[],
    meta_title VARCHAR(255),
    meta_description TEXT,
    featured BOOLEAN DEFAULT FALSE,
    created_by UUID NOT NULL REFERENCES users(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(business_id, sku)
);

-- Product images
CREATE TABLE product_images (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID NOT NULL REFERENCES products(id) ON DELETE CASCADE,
    url TEXT NOT NULL,
    alt_text VARCHAR(255),
    is_primary BOOLEAN DEFAULT FALSE,
    sort_order INTEGER DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Inventory
CREATE TABLE inventory (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID NOT NULL REFERENCES products(id) ON DELETE CASCADE,
    location VARCHAR(100) DEFAULT 'main', -- For multi-location support
    quantity_available INTEGER DEFAULT 0,
    quantity_reserved INTEGER DEFAULT 0, -- Reserved for pending orders
    quantity_on_order INTEGER DEFAULT 0, -- On purchase orders
    reorder_point INTEGER DEFAULT 0,
    reorder_quantity INTEGER DEFAULT 0,
    last_restocked TIMESTAMP,
    last_sold TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(product_id, location)
);

-- Inventory movements (for tracking stock changes)
CREATE TABLE inventory_movements (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID NOT NULL REFERENCES products(id),
    movement_type VARCHAR(20) NOT NULL, -- 'in', 'out', 'adjustment'
    quantity INTEGER NOT NULL,
    reason VARCHAR(100), -- 'sale', 'restock', 'adjustment', 'return'
    reference_id UUID, -- Order ID or other reference
    notes TEXT,
    performed_by UUID REFERENCES users(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- =====================================================
-- 4. CUSTOMER MANAGEMENT
-- =====================================================

-- Customers (business-specific)
CREATE TABLE customers (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    user_id UUID REFERENCES users(id), -- NULL for walk-in customers
    customer_number VARCHAR(50),
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100) NOT NULL,
    email VARCHAR(255),
    phone VARCHAR(20),
    date_of_birth DATE,
    gender VARCHAR(10),
    address TEXT,
    city VARCHAR(100),
    region VARCHAR(100),
    postal_code VARCHAR(10),
    id_number VARCHAR(20),
    customer_type customer_type DEFAULT 'individual',
    credit_limit DECIMAL(15,2) DEFAULT 0.00,
    credit_used DECIMAL(15,2) DEFAULT 0.00,
    credit_score INTEGER, -- 0-100
    preferred_payment_method payment_method,
    notes TEXT,
    is_active BOOLEAN DEFAULT TRUE,
    created_by UUID REFERENCES users(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(business_id, customer_number)
);

-- Customer employment information (for credit assessment)
CREATE TABLE customer_employment (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    customer_id UUID NOT NULL REFERENCES customers(id) ON DELETE CASCADE,
    employment_type employment_type NOT NULL,
    employer_name VARCHAR(255),
    job_title VARCHAR(255),
    monthly_income DECIMAL(15,2),
    employment_duration_months INTEGER,
    employer_phone VARCHAR(20),
    employer_address TEXT,
    business_name VARCHAR(255), -- For self-employed/business owners
    business_registration VARCHAR(100),
    business_revenue DECIMAL(15,2),
    business_age_months INTEGER,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Customer guarantors
CREATE TABLE customer_guarantors (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    customer_id UUID NOT NULL REFERENCES customers(id) ON DELETE CASCADE,
    name VARCHAR(255) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    email VARCHAR(255),
    relationship VARCHAR(100),
    id_number VARCHAR(20),
    address TEXT,
    employment_info TEXT,
    consent_given BOOLEAN DEFAULT FALSE,
    consent_date TIMESTAMP,
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
); 
-- =====================================================
-- 5. ORDER & SALES MANAGEMENT
-- =====================================================

-- Orders
CREATE TABLE orders (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    customer_id UUID REFERENCES customers(id),
    order_number VARCHAR(50) NOT NULL,
    status order_status DEFAULT 'pending',
    order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    delivery_date DATE,
    payment_method payment_method NOT NULL,
    payment_status payment_status DEFAULT 'pending',
    subtotal DECIMAL(15,2) NOT NULL,
    tax_amount DECIMAL(15,2) DEFAULT 0.00,
    discount_amount DECIMAL(15,2) DEFAULT 0.00,
    delivery_fee DECIMAL(15,2) DEFAULT 0.00,
    total_amount DECIMAL(15,2) NOT NULL,
    amount_paid DECIMAL(15,2) DEFAULT 0.00,
    amount_due DECIMAL(15,2) DEFAULT 0.00,
    delivery_option VARCHAR(20), -- 'pickup', 'delivery'
    delivery_address TEXT,
    special_instructions TEXT,
    notes TEXT,
    created_by UUID REFERENCES users(id),
    processed_by UUID REFERENCES users(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(business_id, order_number)
);

-- Order items
CREATE TABLE order_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    order_id UUID NOT NULL REFERENCES orders(id) ON DELETE CASCADE,
    product_id UUID NOT NULL REFERENCES products(id),
    quantity INTEGER NOT NULL,
    unit_price DECIMAL(15,2) NOT NULL,
    discount_amount DECIMAL(15,2) DEFAULT 0.00,
    total_price DECIMAL(15,2) NOT NULL,
    product_snapshot JSONB, -- Store product details at time of order
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- =====================================================
-- 6. CREDIT MANAGEMENT SYSTEM
-- =====================================================

-- Credit applications
CREATE TABLE credit_applications (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    customer_id UUID NOT NULL REFERENCES customers(id),
    order_id UUID REFERENCES orders(id),
    application_number VARCHAR(50) NOT NULL,
    status credit_status DEFAULT 'pending',
    customer_type customer_type NOT NULL,
    requested_amount DECIMAL(15,2) NOT NULL,
    approved_amount DECIMAL(15,2),
    down_payment DECIMAL(15,2) DEFAULT 0.00,
    credit_duration_days INTEGER NOT NULL,
    interest_rate DECIMAL(5,2) DEFAULT 0.00,
    monthly_payment DECIMAL(15,2),
    employment_verified BOOLEAN DEFAULT FALSE,
    guarantor_verified BOOLEAN DEFAULT FALSE,
    risk_assessment JSONB,
    credit_score INTEGER,
    approval_notes TEXT,
    rejection_reason TEXT,
    applied_by UUID REFERENCES users(id),
    reviewed_by UUID REFERENCES users(id),
    approved_by UUID REFERENCES users(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    reviewed_at TIMESTAMP,
    approved_at TIMESTAMP,
    UNIQUE(business_id, application_number)
);

-- Credit sales (active credit accounts)
CREATE TABLE credit_sales (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    customer_id UUID NOT NULL REFERENCES customers(id),
    credit_application_id UUID REFERENCES credit_applications(id),
    order_id UUID NOT NULL REFERENCES orders(id),
    account_number VARCHAR(50) NOT NULL,
    principal_amount DECIMAL(15,2) NOT NULL,
    interest_amount DECIMAL(15,2) DEFAULT 0.00,
    total_amount DECIMAL(15,2) NOT NULL,
    amount_paid DECIMAL(15,2) DEFAULT 0.00,
    balance_remaining DECIMAL(15,2) NOT NULL,
    due_date DATE NOT NULL,
    installment_amount DECIMAL(15,2),
    installment_frequency VARCHAR(20) DEFAULT 'monthly', -- daily, weekly, monthly
    status credit_status DEFAULT 'active',
    late_fees DECIMAL(15,2) DEFAULT 0.00,
    days_overdue INTEGER DEFAULT 0,
    last_payment_date TIMESTAMP,
    next_payment_date DATE,
    created_by UUID REFERENCES users(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(business_id, account_number)
);

-- =====================================================
-- 7. PAYMENT & FINANCIAL MANAGEMENT
-- =====================================================

-- Payments
CREATE TABLE payments (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    order_id UUID REFERENCES orders(id),
    credit_sale_id UUID REFERENCES credit_sales(id),
    customer_id UUID REFERENCES customers(id),
    payment_number VARCHAR(50) NOT NULL,
    amount DECIMAL(15,2) NOT NULL,
    payment_method payment_method NOT NULL,
    payment_status payment_status DEFAULT 'pending',
    reference_number VARCHAR(100),
    transaction_id VARCHAR(100),
    payment_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    due_date DATE,
    notes TEXT,
    gateway_response JSONB, -- Store payment gateway response
    processed_by UUID REFERENCES users(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(business_id, payment_number)
);

-- Payment schedules (for partial payments and installments)
CREATE TABLE payment_schedules (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    order_id UUID REFERENCES orders(id),
    credit_sale_id UUID REFERENCES credit_sales(id),
    installment_number INTEGER NOT NULL,
    due_date DATE NOT NULL,
    amount_due DECIMAL(15,2) NOT NULL,
    amount_paid DECIMAL(15,2) DEFAULT 0.00,
    status payment_status DEFAULT 'pending',
    late_fee DECIMAL(15,2) DEFAULT 0.00,
    payment_id UUID REFERENCES payments(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- =====================================================
-- 8. NOTIFICATION SYSTEM
-- =====================================================

-- Notifications
CREATE TABLE notifications (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID REFERENCES businesses(id),
    user_id UUID REFERENCES users(id),
    type notification_type NOT NULL,
    title VARCHAR(255) NOT NULL,
    message TEXT NOT NULL,
    data JSONB, -- Additional notification data
    read BOOLEAN DEFAULT FALSE,
    read_at TIMESTAMP,
    action_url TEXT,
    expires_at TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Email logs
CREATE TABLE email_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID REFERENCES businesses(id),
    to_email VARCHAR(255) NOT NULL,
    from_email VARCHAR(255) NOT NULL,
    subject VARCHAR(255) NOT NULL,
    template_name VARCHAR(100),
    status VARCHAR(20) DEFAULT 'pending', -- pending, sent, failed
    provider_response JSONB,
    sent_at TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- SMS logs
CREATE TABLE sms_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID REFERENCES businesses(id),
    to_phone VARCHAR(20) NOT NULL,
    message TEXT NOT NULL,
    template_name VARCHAR(100),
    status VARCHAR(20) DEFAULT 'pending', -- pending, sent, failed
    provider_response JSONB,
    cost DECIMAL(10,4),
    sent_at TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- =====================================================
-- 9. FILE MANAGEMENT
-- =====================================================

-- Files
CREATE TABLE files (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID REFERENCES businesses(id),
    filename VARCHAR(255) NOT NULL,
    original_filename VARCHAR(255) NOT NULL,
    file_type file_type NOT NULL,
    mime_type VARCHAR(100) NOT NULL,
    file_size INTEGER NOT NULL, -- in bytes
    file_path TEXT NOT NULL,
    file_url TEXT,
    description TEXT,
    tags TEXT[],
    metadata JSONB,
    uploaded_by UUID REFERENCES users(id),
    is_public BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- =====================================================
-- 10. ANALYTICS & REPORTING
-- =====================================================

-- Daily sales summaries (for performance)
CREATE TABLE daily_sales_summary (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID NOT NULL REFERENCES businesses(id) ON DELETE CASCADE,
    date DATE NOT NULL,
    total_orders INTEGER DEFAULT 0,
    total_revenue DECIMAL(15,2) DEFAULT 0.00,
    total_profit DECIMAL(15,2) DEFAULT 0.00,
    cash_sales DECIMAL(15,2) DEFAULT 0.00,
    card_sales DECIMAL(15,2) DEFAULT 0.00,
    mobile_money_sales DECIMAL(15,2) DEFAULT 0.00,
    credit_sales DECIMAL(15,2) DEFAULT 0.00,
    top_selling_products JSONB,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE(business_id, date)
);

-- System audit logs
CREATE TABLE audit_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    business_id UUID REFERENCES businesses(id),
    user_id UUID REFERENCES users(id),
    action VARCHAR(100) NOT NULL,
    entity_type VARCHAR(50) NOT NULL,
    entity_id UUID,
    old_values JSONB,
    new_values JSONB,
    ip_address INET,
    user_agent TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- =====================================================
-- INDEXES FOR PERFORMANCE
-- =====================================================

-- Users indexes
CREATE INDEX idx_users_email ON users(email);
CREATE INDEX idx_users_google_id ON users(google_id);
CREATE INDEX idx_users_created_at ON users(created_at);

-- Business indexes
CREATE INDEX idx_businesses_slug ON businesses(slug);
CREATE INDEX idx_businesses_status ON businesses(status);
CREATE INDEX idx_businesses_owner_id ON businesses(owner_id);

-- Business users indexes
CREATE INDEX idx_business_users_business_id ON business_users(business_id);
CREATE INDEX idx_business_users_user_id ON business_users(user_id);
CREATE INDEX idx_business_users_role ON business_users(role);

-- Products indexes
CREATE INDEX idx_products_business_id ON products(business_id);
CREATE INDEX idx_products_category_id ON products(category_id);
CREATE INDEX idx_products_sku ON products(sku);
CREATE INDEX idx_products_status ON products(status);
CREATE INDEX idx_products_name ON products USING gin(to_tsvector('english', name));

-- Customers indexes
CREATE INDEX idx_customers_business_id ON customers(business_id);
CREATE INDEX idx_customers_user_id ON customers(user_id);
CREATE INDEX idx_customers_phone ON customers(phone);
CREATE INDEX idx_customers_email ON customers(email);

-- Orders indexes
CREATE INDEX idx_orders_business_id ON orders(business_id);
CREATE INDEX idx_orders_customer_id ON orders(customer_id);
CREATE INDEX idx_orders_status ON orders(status);
CREATE INDEX idx_orders_order_date ON orders(order_date);
CREATE INDEX idx_orders_payment_status ON orders(payment_status);

-- Payments indexes
CREATE INDEX idx_payments_business_id ON payments(business_id);
CREATE INDEX idx_payments_order_id ON payments(order_id);
CREATE INDEX idx_payments_credit_sale_id ON payments(credit_sale_id);
CREATE INDEX idx_payments_payment_date ON payments(payment_date);

-- Credit applications indexes
CREATE INDEX idx_credit_applications_business_id ON credit_applications(business_id);
CREATE INDEX idx_credit_applications_customer_id ON credit_applications(customer_id);
CREATE INDEX idx_credit_applications_status ON credit_applications(status);

-- Notifications indexes
CREATE INDEX idx_notifications_user_id ON notifications(user_id);
CREATE INDEX idx_notifications_read ON notifications(read);
CREATE INDEX idx_notifications_created_at ON notifications(created_at);

-- =====================================================
-- TRIGGERS FOR AUTOMATIC UPDATES
-- =====================================================

-- Function to update updated_at column
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Apply updated_at triggers to relevant tables
CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON users FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_businesses_updated_at BEFORE UPDATE ON businesses FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_business_users_updated_at BEFORE UPDATE ON business_users FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON products FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_customers_updated_at BEFORE UPDATE ON customers FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_orders_updated_at BEFORE UPDATE ON orders FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_credit_applications_updated_at BEFORE UPDATE ON credit_applications FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_credit_sales_updated_at BEFORE UPDATE ON credit_sales FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Function to automatically update inventory when order is delivered
CREATE OR REPLACE FUNCTION update_inventory_on_order_completion()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.status = 'delivered' AND OLD.status != 'delivered' THEN
        -- Decrease inventory for each order item
        UPDATE inventory 
        SET quantity_available = quantity_available - oi.quantity,
            last_sold = CURRENT_TIMESTAMP
        FROM order_items oi
        WHERE oi.order_id = NEW.id 
        AND inventory.product_id = oi.product_id;
        
        -- Log inventory movements
        INSERT INTO inventory_movements (product_id, movement_type, quantity, reason, reference_id)
        SELECT oi.product_id, 'out', oi.quantity, 'sale', NEW.id
        FROM order_items oi
        WHERE oi.order_id = NEW.id;
    END IF;
    
    RETURN NEW;
END;
$$ language 'plpgsql';

CREATE TRIGGER trigger_update_inventory AFTER UPDATE ON orders FOR EACH ROW EXECUTE FUNCTION update_inventory_on_order_completion();

-- =====================================================
-- INITIAL SYSTEM DATA
-- =====================================================

-- Insert default system admin user
INSERT INTO users (id, email, password_hash, full_name, auth_method, email_verified) 
VALUES (
    '00000000-0000-0000-0000-000000000001',
    'admin@kopqela.com',
    crypt('admin123', gen_salt('bf')),
    'System Administrator',
    'email',
    TRUE
) ON CONFLICT (email) DO NOTHING;

-- =====================================================
-- VIEWS FOR COMMON QUERIES
-- =====================================================

-- Business summary view
CREATE OR REPLACE VIEW business_summary AS
SELECT 
    b.id,
    b.name,
    b.slug,
    b.business_type,
    b.status,
    COUNT(DISTINCT bu.user_id) as total_users,
    COUNT(DISTINCT p.id) as total_products,
    COUNT(DISTINCT c.id) as total_customers,
    COUNT(DISTINCT o.id) as total_orders,
    COALESCE(SUM(CASE WHEN o.status = 'delivered' THEN o.total_amount ELSE 0 END), 0) as total_revenue,
    b.created_at
FROM businesses b
LEFT JOIN business_users bu ON b.id = bu.business_id AND bu.is_active = TRUE
LEFT JOIN products p ON b.id = p.business_id AND p.status = 'active'
LEFT JOIN customers c ON b.id = c.business_id AND c.is_active = TRUE
LEFT JOIN orders o ON b.id = o.business_id
GROUP BY b.id, b.name, b.slug, b.business_type, b.status, b.created_at;

-- Customer credit summary view
CREATE OR REPLACE VIEW customer_credit_summary AS
SELECT 
    c.id as customer_id,
    c.business_id,
    c.first_name || ' ' || c.last_name as full_name,
    c.credit_limit,
    c.credit_used,
    c.credit_limit - c.credit_used as available_credit,
    COUNT(cs.id) as active_credit_accounts,
    COALESCE(SUM(cs.balance_remaining), 0) as total_outstanding,
    MIN(cs.due_date) as earliest_due_date,
    MAX(cs.days_overdue) as max_days_overdue
FROM customers c
LEFT JOIN credit_sales cs ON c.id = cs.customer_id AND cs.status = 'active'
GROUP BY c.id, c.business_id, c.first_name, c.last_name, c.credit_limit, c.credit_used;

-- Product inventory view
CREATE OR REPLACE VIEW product_inventory_view AS
SELECT 
    p.id as product_id,
    p.business_id,
    p.name,
    p.sku,
    p.retail_price,
    i.quantity_available,
    i.quantity_reserved,
    i.reorder_point,
    CASE 
        WHEN i.quantity_available <= i.reorder_point THEN 'low_stock'
        WHEN i.quantity_available = 0 THEN 'out_of_stock'
        ELSE 'in_stock'
    END as stock_status,
    i.last_restocked,
    i.last_sold
FROM products p
LEFT JOIN inventory i ON p.id = i.product_id AND i.location = 'main'
WHERE p.status = 'active';

-- Grant permissions (adjust as needed for your setup)
-- GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO kopqela_user;
-- GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO kopqela_user;

-- Database optimization settings (commented out - enable as needed)
-- ALTER SYSTEM SET shared_preload_libraries = 'pg_stat_statements';
-- ALTER SYSTEM SET track_activity_query_size = 2048;
-- ALTER SYSTEM SET pg_stat_statements.track = all;
